.ant-layout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;

    .ant-layout-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin: 1rem 1rem;
        border-radius: 1rem 1rem 1rem 1rem;
    }
}